# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
# Get it from: https://cloud.mongodb.com -> Connect -> Drivers
MONGODB_URI=mongodb+srv://nain44:wallverse2025@cluster0.wwvoqyn.mongodb.net/wallverse?retryWrites=true&w=majority
# mongodb+srv://nain44:<db_password>@cluster0.wwvoqyn.mongodb.net/?appName=Cluster0
# JWT Secret (generate a random 64-char string)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Cloudinary (get from: https://cloudinary.com -> Dashboard)
CLOUDINARY_CLOUD_NAME=dxlpuro6u
CLOUDINARY_API_KEY=276826769559521
CLOUDINARY_API_SECRET=RknB-uWvPSmjdfaIx6iZEqDS_Kk

# Allowed origins for CORS (comma-separated for multiple)
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Optional: Pexels API (https://www.pexels.com/api/)
PEXELS_API_KEY=563492ad6f9170000100000168455efa161d40da99ac47f1d07a581a

# Optional: Unsplash API (https://unsplash.com/developers)
UNSPLASH_ACCESS_KEY=qMDE-0FcgasWWhkuD07sumly5i2mMpbTPVBN-IoCcbo
